$color-brown: #c7ac81;
$color-white: #ffffff;

$h-padding: 30px;
$h-width: 200px;
$h-height: 100vh;

$sec-padding-x: 5%;

$w-tablet: 960px;
$w-sp: 480px;

@font-face {
  font-family: "Adria";
  src: url(../font/AdriaDB.ttf);
}

@font-face {
  font-family: "charter";
  src: url(../font/charter_roman.ttf);
}

@font-face {
  font-family: "courier";
  src: url(../font/courier.ttf);
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url(../font/PlayfairDisplay-Medium.ttf);
}

* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: #0a1415;
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
dt,
dd,
small {
  font-family: PlayfairDisplay, YuMincho, Yu Mincho, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.15rem;
}

h1,
h2 {
  font-family: Adria;
}

p,
a,
span {
  font-size: 1.6rem;
  line-height: 200%;
}

p + p {
  margin-top: 2rem;
}

.ttl-1 {
  text-align: center;
  color: $color-brown;
  font-size: 5rem;
  position: relative;
  padding: 0 0 3rem 0;
  margin: 0 0 4rem 0;
  &:after {
    content: "";
    width: 22rem;
    height: 2rem;
    background: url(../img/title_deco.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.btn-1 {
  display: flex;
  width: fit-content;
  padding: 0.5rem 5rem;
  background: #c7ac81;
  margin: 2rem auto 0 auto;
  color: #fff;
}

.to-top {
  position: fixed;
  z-index: 100;
  right: 4rem;
  bottom: 3rem;
  cursor: pointer;
  transition: 1s ease;
  &:hover {
    transform: rotateY(360deg) translateY(-10%);
  }
}
